tests/fixtures/screenshots/*.jpg filter=lfs diff=lfs merge=lfs -text
tests/fixtures/screenshots/*.jpeg filter=lfs diff=lfs merge=lfs -text
tests/fixtures/screenshots/*.png filter=lfs diff=lfs merge=lfs -text
